@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
:root{
    --color-dark-purple: #160F29;
    --color-dark-cyan: #246A73;
    --color-cyan: #368F8B;
    --color-cream: #F3DFC1;
    --color-dark-cream: #DDBEA8;
    --color-footer: #0D1B2A;
}
body {
    font-family: 'Montserrat', sans-serif;
  }
/* .wrapper{
    background-color:var(--color-dark-cyan);
} */

#protrait{
    width: 20%;
    border-radius: 50%;
}
footer{
    background-color: var(--color-footer)
}

.bg-gray{
    background-color: lightgray;
}